<section class="todo-item">
    <div [class]="todo.done ? 'card done' : 'card'">
      <div class="card-body">
        <div class="row">
          <div class="col-1">
            <i class="far fa-check-square" (click)="toggleDone(true)" *ngIf="todo.done"></i>
            <i class="far fa-square" (click)="toggleDone(false)" *ngIf="!todo.done"></i>
          </div>
          <div class="col-10">
            <div class="text-panel">
              {{todo.content}}
            </div>
          </div>
          <div class="col-1">
            <i class="far fa-delete" (click)="deleteTodo()"> </i>
          </div>
        </div>
      </div>
    </div>
</section>
